<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fast Flight, <%= @booking.passengers.first.name %></h1>
    <p>
      You have successfully booked a flight with Fast Flight,
      your Flight Details:<br>
      <ul>
        <li>Date: <%= Booking.flight.date %></li>
        <li>Time: <%= Booking.flight.time %></li>
        <li>Duration: <%= Booking.flight.duration %></li>
      </ul>
    </p>
    <p>
      To revisit the site, just follow this link: <a href="@url"><%= @url %></a>.
    </p>
    <p>Thanks for trusting us and have a great day!</p>
  </body>
</html>